<a href="https://colab.research.google.com/github/Non8q/IT326-Adult-Census-Income/blob/main/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_csv("Raw_dataset.csv")

In [10]:
# 1. Dataset Description
print("-- Dataset General Information --")
print(f"Number of objects : {df.shape[0]}")
print(f"Number of attributes : {df.shape[1]}")

print("\n-- Data Types of Attributes --")
print(df.dtypes)

-- Dataset General Information --
Number of objects : 32561
Number of attributes : 15

-- Data Types of Attributes --
age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [8]:
print("\n--Class Attribute Distribution (income) --")
print(df['income'].value_counts())

--Class Attribute Distribution (income) --
income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [9]:

print("\n-- Sample of the Raw Dataset --")
df.head()

-- Sample of the Raw Dataset --

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K